/bin/
/build/
.classpath
.project
.settings
*.iml
/.gradle
*.ipr
*.iws
.idea/
.geany
/target
*/target
target/
/reports
*/reports
.DS_Store
*/tmp
*.war
.gradle/
app/isv/
app/mine/
app/release/
local.properties
*/build/
